/* webapp > css > css > table.css */

.table {
    border: 1px solid #555;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #555;
    padding: 3px;
}

.table th {
    background-color: #EEEEEE;
}

.table tr:hover {
    background-color: orangee;
}